extends layout
block content
    each cate in categories
        table.table
            tr.danger
                th(colspan='3')
                    a(href='/category/#{cate._id}') #{cate.name}
            each blog in cate.blogs
                tr.active
                    td.col-sm-4
                        a(href='/blog/#{blog._id}') #{blog.title}
                    td.col-sm-4= blog.thumb
                    td.col-sm-4= moment(blog.meta.createAt).format('YYYY-MM-DD')